service: reddit-proxy

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-2
  stage: dev

functions:
  api:
    handler: lambda.handler
    events:
      - httpApi:
          path: /{proxy+}   
          method: ANY

